<main class="container">
  <app-filter
    (setFilter)="onUpdateFilter($event)"
    [allTags]="allTags"
    [selectedTags]="selectedTags"
    (selectTag)="onSelectTag($event)"
    (deselectTag)="onDeselectTag($event)"
    (deselectAllTags)="onDeselectAllTags()"
  ></app-filter>
  <ul class="issue-list">
    <app-issue
      *ngFor="
        let issue of issues
          | tagFilter: tagFilter
          | selectedTagFilter: selectedTags
      "
      [allTags]="allTags"
      [issue]="issue"
      [selectedTags]="selectedTags"
      (updateIssue)="onUpdateIssue($event)"
      (deleteIssue)="onDeleteIssue($event)"
      (addNewTag)="onAddNewTag($event)"
      (selectTag)="onSelectTag($event)"
    ></app-issue>
    <app-edit-issue
      (submitIssue)="onSubmitNewIssue($event)"
      (addNewTag)="onAddNewTag($event)"
      [allTags]="allTags"
    ></app-edit-issue>
  </ul>
</main>
