@import "../variables";

.tag-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80vw;
  list-style: none;
  padding-inline-start: 0;
  gap: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-input-wrapper {
  background-color: $filter-bar-bg;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 70px;
}

.filter-input {
  width: 80vw;
  font-size: 1.8em;
  font-family: $main-font;
  color: $filter-text;
  border: solid 1px $filter-border;
}

.clear-selection-btn {
  border: none;
  background-color: transparent;
  color: $clear-selection-button-color;

  &:hover {
    cursor: pointer;
  }
}
