<li class="issue">
  <div class="read-only" *ngIf="!editMode">
    <app-issue-view
      [id]="issue.id"
      [title]="issue.title"
      [text]="issue.text"
      [tags]="issue.tags"
      [selectedTags]="selectedTags"
      (enableEdit)="onEnableEdit()"
      (delete)="onDelete()"
      (selectTag)="onSelectTag($event)"
    ></app-issue-view>
  </div>
  <div *ngIf="editMode">
    <app-new-issue
      (addNewTag)="onAddNewTag($event)"
      (submitIssue)="onUpdate($event)"
      (cancelEditing)="onDisableEdit()"
      [allTags]="allTags"
      [id]="issue.id"
      [title]="issue.title"
      [text]="issue.text"
      [tags]="issue.tags"
    ></app-new-issue>
  </div>
</li>
