<li class="issue">
  <ng-container *ngIf="!editMode">
    <app-view-issue
      [id]="issue.id"
      [title]="issue.title"
      [text]="issue.text"
      [tags]="issue.tags"
      [selectedTags]="selectedTags"
      (enableEdit)="onEnableEdit()"
      (delete)="onDelete()"
      (selectTag)="onSelectTag($event)"
    ></app-view-issue>
  </ng-container>
  <ng-container *ngIf="editMode">
    <app-edit-issue
      (addNewTag)="onAddNewTag($event)"
      (submitIssue)="onUpdate($event)"
      (cancelEditing)="onDisableEdit()"
      [allTags]="allTags"
      [id]="issue.id"
      [title]="issue.title"
      [text]="issue.text"
      [tags]="issue.tags"
    ></app-edit-issue>
  </ng-container>
</li>
