$tag-hover-bg: black;
$tag-hover-text: white;
$tag-bg: white;
$tag-text: black;
$tag-selected-bg: black;
$tag-selected-text: white;
$tag-border: black;
$issue-title-bar-bg: green;
$issue-border: black;
$clear-selection-btn-color: black;
$delete-button-bg: red;
$delete-button-hover-bg: red;
$delete-button-text: white;
$edit-button-text: black;
$edit-button-hover-text: black;
$submit-button-text: black;
$submit-button-hover-text: black;
$cancel-button-text: white;
$cancel-button-hover-text: white;
$comment-wrapper-border: black;
$issue-title-text: white;
$issue-text-input-border: black;
