$primary-color: hsl(205, 21%, 28%);
$primary-color-dark: darken($primary-color, 10%);
$primary-text: hsl(204, 16%, 47%);
$danger: hsl(352, 74%, 53%);
$secondary-color: hsl(207, 100%, 96%);
$secondary-color-dark: darken($secondary-color, 10%);
$tertiary-color: hsl(100, 60%, 96%);
$submit-text: hsl(161, 75%, 28%);
$edit-text: hsl(201, 100%, 28%);

$primary-font-weight: 300;
$secondary-font-weight: 100;
$tag-font-weight: 500;

$tag-hover-bg: darken($tertiary-color, 2%);
$tag-hover-text: $primary-text;
$tag-bg: $tertiary-color;
$tag-text: $primary-text;
$tag-selected-bg: black;
$tag-selected-text: white;
$tag-border: darken($tertiary-color, 5%);

$issue-title-bar-bg: $secondary-color;
$issue-border: $secondary-color-dark;

$clear-selection-button-color: black;
$delete-button-bg: $danger;
$delete-button-hover-bg: saturate(lighten($danger, 10%), 30%);
$delete-button-text: white;
$edit-button-text: $primary-text;
$edit-button-hover-text: $edit-text;
$submit-button-text: $primary-text;
$submit-button-hover-text: $submit-text;
$cancel-button-text: white;
$cancel-button-hover-text: white;
$edit-issue-text: $primary-text;
$button-content-text: $primary-text;

$comment-wrapper-border: $secondary-color-dark;
$comment-view-text: $primary-text;

$issue-title-text: $primary-text;
$issue-text-input-border: $secondary-color-dark;
$issue-tag-text: $primary-text;
$filter-text: $primary-text;

$main-font: 'Roboto', sans-serif;
$math-expression-bg: $primary-color;
$math-expression-text: white;
$math-expression-border: $primary-color-dark;
$math-result-text: darken($primary-text, 10%);
$math-result-border: black;
$filter-bar-bg: $primary-color;
$filter-border: $primary-color-dark;
