@import "../variables";

.common-wrapper {
  border-bottom: 1px solid $comment-wrapper-border;
  padding-bottom: 10px;
  margin-top: 10px;
}

.math-result {
  color: red;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.math-expression {
  color: blue;
}

.math-result .math-expression {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.math-result .math-expression::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.math-result:hover {
  cursor: pointer;
}

.math-result:hover .math-expression {
  visibility: visible;
  opacity: 1;
}
