@import "../../variables";

.common-wrapper {
  border-bottom: 1px solid $comment-wrapper-border;
  padding-bottom: 10px;
  margin-top: 10px;
  font-family: $main-font;
  font-weight: normal;
  color: $comment-view-text;
}

.math-result {
  color: $math-result-text;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $math-result-border;
}

.math-result .math-expression {
  visibility: hidden;
  width: 120px;
  background-color: $math-expression-bg;
  color: $math-expression-text;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.math-result .math-expression::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $math-expression-border transparent transparent transparent;
}

.math-result:hover {
  cursor: pointer;
}

.math-result:hover .math-expression {
  visibility: visible;
  opacity: 1;
}
